.editor { /** 通用editor样式 */
    border: 1px solid #cccccc;
    .toolbar {
        background: #f9f9f9;
        display: flex;
        .files {
            width:95%;
            display: flex;
            flex-flow: row;
            .file {
                height: inherit;
                max-width: 20%;
                display: block;
                padding: .5em .7em;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left:1px;
                cursor:pointer;
                &:hover{
                    text-decoration: none;
                }
                &:first-child {
                    margin-left: 40px;
                }
                &.curr{
                    background: #e8e8e8;
                }

            }
        }
        .folder{
            display: flex;
            cursor:pointer;
            .material-icons{
                margin:auto;
                justify-content: center;
                outline: none;
            }
        }
    }
    .editor-container{
        overflow: hidden;
        &.lock_open {
            height: 400px;
        }
        &.lock_outline  {
            height: 0px;
        }
    }
    .ace-editor {
        width: 100%;
        height:400px;
    }
}